<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
<!-- Seach feature -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input  ng-model="query" type="text" class="form-control" placeholder="Search">
          </div>
          <!-- <table> -->


<!-- </table> -->

          <div class="tableWrapper">
            <table class="table">
              <thread>

              <tr>
<!-- Display entries -->
                <th>Code</th>
                <th>Building Name</th>
                <th>Details</th>
                <th>Delete</th>

                <th></th>
              </tr>
            </thread>

            <tbody ng-repeat="listing in listings | filter:query | orderBy: 'code' " class="table">
                <td>{{listing.code}}</td>
                <td>{{listing.name}}</td>
                <td><button ng-click="showDetails(listing.name)">Details</button></td>
                <td><button ng-click="deleteListing(listing.name)">  X</button></td>

            </tbody>
            </table>

          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Detailed Information:</h2>
            <div ng-controller="ListingsController">
              <p>{{saveAs}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Add Listing:</h2>
            <div ng-controller="ListingsController">
              <form name="skillsFrm" ng-submit="addSkill()">
                Code: <input type="text" name="code" ng-model="code" required /><p></p>
                Name: <input type="text" name="name" ng-model="name" required /><p></p>
                Address: <input type="text" name="address" ng-model="address" /><p></p>
                Latitude: <input type="text" name="latitude" ng-model="latitude"  /><p></p>
                Longitude: <input type="text" name="longitude" ng-model="longitude"  /><p></p>


                <button ng-disabled="skillsFrm.$invalid" ng-click="addListing()">Add</button>
              </form>
              <!-- <button2 ng-click="addListing()">Add New Building</button> -->
            </div>
          </div>
        </div>





      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>
